@charset "utf-8";

html, body, html *, body * {
	font-family: Tahoma !important;
}

.form input, .form textarea {
    font-weight: normal;
    font-size: 12px;
}

#dvHeaderInner {
    background: url(bg_headerinnerlogo.png) no-repeat top center;
}

